In [1]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [22]:
df = pd.read_csv("../../Dataset/Diamonds/diamonds.csv")
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [23]:
std_scaler = StandardScaler()
df['price'] = std_scaler.fit_transform(df[['price']])

In [24]:
df['price']

0       -0.904095
1       -0.904095
2       -0.903844
3       -0.902090
4       -0.901839
           ...
53935   -0.294731
53936   -0.294731
53937   -0.294731
53938   -0.294731
53939   -0.294731
Name: price, Length: 53940, dtype: float64

In [25]:
from sklearn.preprocessing import MinMaxScaler
df['carat']

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [26]:
min_max_scaler = MinMaxScaler()
df['carat'] = min_max_scaler.fit_transform(df[['carat']])
df['carat']

0        0.006237
1        0.002079
2        0.006237
3        0.018711
4        0.022869
           ...
53935    0.108108
53936    0.108108
53937    0.103950
53938    0.137214
53939    0.114345
Name: carat, Length: 53940, dtype: float64